<div class="d-flex">
  <div class="left">
    <div class="container-left">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <h2>Cadastre-se</h2>
          <div class="w-100 d-flex justify-content-between">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Nome", class: "w-100" },
                        label: false,
                        placeholder: "Nome" %>
            <%= f.input :last_name,
                        required: true,
                        input_html: { autocomplete: "Nome", class: "w-100" },
                        label: false,
                        placeholder: "Sobrenome" %>
          </div>
          <div class="w-100 d-flex justify-content-between">
            <%= f.input :cpf,
                        required: true,
                        input_html: { autocomplete: "CPF", class: "w-100" },
                        label: false,
                        placeholder: "CPF" %>
            <%= f.input :phone,
                        required: true,
                        input_html: { autocomplete: "Telefone", class: "w-100" },
                        label: false,
                        placeholder: "Telefone" %>
            <%= f.input :avatar, as: :file, label: false %>
          </div>
          <%= f.input :address,
                      required: true,
                      input_html: { autocomplete: "Endereço" },
                      label: false,
                      placeholder: "Endereço" %>
          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "Email" },
                      label: false,
                      placeholder: "Email" %>
          <div class="w-100 d-flex justify-content-between">
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "current-password", class: "w-100" },
                        label: false,
                        placeholder: "Senha" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "current-password", class: "w-100" },
                        label: false,
                        placeholder: "Confirme sua senha" %>
          </div>
          <div class="form-actions d-flex align-items-center mb-3">
            <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
            <%= f.input :remember_me, as: :boolean, label: "Lembre-se de mim" if devise_mapping.rememberable? %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
    <%= image_tag "dog_and_cats.png", class: "dog-and-cat" %>
  </div>
  <div class="right">

  </div>
</div>