<div class="d-flex">
  <div class="left">
    <div class="container-left">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <h2>Cadastre-se</h2>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: "Email" %>
          <div class="w-100 d-flex justify-content-between">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "w-100" },
                        label: false,
                        placeholder: "Senha" %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "w-100" },
                        label: false,
                        placeholder: "Confirme sua senha" %>
          </div>
          <div class="form-actions d-flex align-items-center mb-3">
            <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
            <%= f.input :remember_me, as: :boolean, label: "Lembre-se de mim" if devise_mapping.rememberable? %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
    <%= image_tag "dog_and_cats.png", class: "dog-and-cat" %>
  </div>
  <div class="right">

  </div>
</div>