<section class="hero-section d-flex flex-column">
  <%= link_to "Adicionar novo pet", "/pets/new", class: "mb-5 btn btn-warning text-white" %>
  <div class="card-grid">
    <% @pets.each do |pet| %>
      <a class="card" href="/pets/<%= pet.id %>" style="background-color: transparent; border: none;">
        <div class="card__background" style="background-image: url(<%= pet.photo.attached? ? cl_image_path(pet.photo.key) : image_path("no_image.jpg") %>)"></div>
        <div class="card__content">
          <p class="card__category"><%= pet.species %> - <%= pet.breed %></p>
          <h3 class="card__heading"><%= pet.name %></h3>
        </div>
      </a>
    <% end %>
  <div>
</section>
