<section class="hero-section d-flex flex-column align-items-center">
  <%= link_to "/pets/new", class: "mb-5 btn btn-warning text-white add-pet" do %>
    <i class="fas fa-plus" style="font-size: 20px;"></i>
  <% end %>
  <div class="card-grid">
    <% @pets.each do |pet| %>
      <a class="card" href="/pets/<%= pet.id %>" style="background-color: transparent; border: none;">
        <div class="card__background" style="background-image: url(<%= pet.photo.attached? ? cl_image_path(pet.photo.key) : image_path("no_image.jpg") %>)"></div>
        <div class="card__content">
          <p class="card__category"><%= pet.species %> - <%= pet.breed %></p>
          <h3 class="card__heading"><%= pet.name %></h3>
        </div>
      </a>
    <% end %>
  <div>
</section>
