<div class="container-create-pet" style="height: calc(100% - 55px)">
  <div class="create-pet-left bg-white">
    <h1 class="mb-5 text-center" style="color: #ea9143; font-size: calc(1.1rem + 1.8vw);">Adicione as informações do seu pet</h1>
    
    <%= simple_form_for @pet do |f| %>
      <%= f.input :name, label: false, placeholder: "Nome do pet" %>
      <%= f.input :birthdate, label: "Data de nascimento", start_year: 2010, input_html: { lang: "pt" }, as: :date %>
      <div class="d-flex justify-content-between w-100 species-breeds">
        <%= f.input :pet_species_id, collection: PetSpecies.pluck(:name, :id), label: "Espécie do seu pet:", input_html: { class: "w-100" } %>
        <%= f.input :pet_breed_id, collection: PetBreed.all.pluck(:name, :id), label: "Raça do seu pet:", input_html: { class: "w-100" } %>
      </div>
      <%= f.input :photo, as: :file, label: "Foto do seu pet" %>
      <%= f.button :submit, "Adicionar", class: "btn btn-success" %>
    <% end %>

  </div>

  <div class="create-pet-right" style="background-image: url(<%= image_path("background-create-pets.png") %>)">
  </div>
</div>