<div class="container">
  <h1>New Pet</h1>
  
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :birthdate %>
    <%= f.input :pet_species_id, collection: PetSpecies.pluck(:name, :id) %>
    <%= f.input :pet_breed_id, collection: PetBreed.all.pluck(:name, :id) %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
