<% content_for :title, "New pet specy" %>

<h1>New pet specy</h1>


<%= simple_form_for @pet_species, url: '/pet_species' do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to pet species", '/pet_species' %>
</div>
