<p style="color: green"><%= notice %></p>

<%= @pet_species.name %>

<div>
  <%= link_to "Edit this pet specy", "/pet_species/#{@pet_species.id}/edit" %> |
  <%= link_to "Back to pet species", pet_species_path %>

  <%# button_to "Destroy this pet specy", pet_species_path(@pet_species), method: :delete %>
  <%= button_to "Destroy this pet specy", "/pet_species/#{@pet_species.id}", method: :delete %>
</div>
